// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;


$title-font: 'Rajdhani', sans-serif;
$text-font: 'Roboto', sans-serif;
$title-color: #3a414e;
$text-color: #797979;
$black: #242429;
$magnolia: #faf9ff;
$primary-color: #31246e;
$link-color: #797979;
$white: #fff;

@import url('https://fonts.googleapis.com/css?family=Rajdhani:400,600,700');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');