::-webkit-input-placeholder { /* Edge */
  color: #777 !important;
  text-align: center;
}

:-ms-input-placeholder { /* Internet Explorer */
  color: #777 !important;
  text-align: center;
}

::placeholder {
  color: #777 !important;
  text-align: center;
}
.space{
    &-10{
        height:10px;
    }
    &-20{
      height:20px;
    }
    &-50{
        height:50px;
    }
    &-60{
        height:60px;
    }
    &-70{
        height:70px;
    }
    &-80{
        height:80px;
    }
    &-90{
        height:90px;
    }
    &-100{
        height:100px;
    } 
}
.select-theme{
  outline:none !important;
  box-shadow: none !important;
  border:1px solid #ddd;
  width:200px;
  height:38px;
}
.select-theme option {
  margin: 40px;
  background:#22195b;
  color:#f5f5f5;
  text-shadow: 0 1px 0 rgba(163, 62, 62, 0.4);
}
// css for blog list cards
.blog-list-card{
    transition: all 1s ease;
}
.blog-list-card:hover{  
    cursor:pointer;
}
.blog-list-card img{  
    transition: all .7s ease;
}
.blog-list-card:hover .card-img{
    transform: scale(.96);
}
.blog-list-card .card-img {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
.blog-list-card .card-title {
  margin-bottom: 0.3rem;
}

.blog-list-card .cat {
  display: inline-block;
  margin-bottom: 1rem;
  font-size:.8rem;
}
.blog-list-card .cat img{
  height:18px;
  width:18px;
  border-radius:50%;
}

.blog-list-card .fa-users {
  margin-left: 1rem;
}

.blog-list-card .card-footer {
  font-size: 0.8rem;
  display:none !important;
}
.blog-list-card .card-img-overlay{
    height:80px;
}

.blog-list-card .read-button{
    display: inline-block;
    border: 1px solid transparent;
    text-transform: capitalize;
    font-size: 15px;
    font-weight: 500;
    padding: 10px 24px;
    border-radius: 30px;
    background: #fafafa;
    color: #31246e;
    transition: all 0.4s ease;
}

.blog-list-card .read-button:hover{
    color:#fff;
    background:#31246e;
}
// footer call to action section
.call-to-action {
    padding-left:0px;
  }
  .section.call-to-action .box {
      padding: 5rem 3rem 0rem 3rem;
      background-color: #302470;
      box-shadow: none;
      border-radius: 20% 75% 0% 0%;
  }
  .box {
      border-radius: 12px;
  }
  .box {
      background-color: #fff;
      border-radius: 6px;
      box-shadow: 0 5px 5px 0 rgba(233,240,243,0.5), 0 0 0 1px #E6ECF8;
      color: #293347;
      display: block;
      padding: 1.25rem;
  }
//newsletter section
.home-newsletter {
    background: #31246f;
    }
.home-newsletter .single {
max-width: 650px;
margin: 0 auto;
text-align: center;
position: relative;
z-index: 2; }
.home-newsletter .single h3 {
font-size: 22px;
color: white;
text-transform: uppercase;
margin-bottom: 40px; }
.home-newsletter .single .form-control {
height: 50px;
background:#f0f0f0;
border-color: transparent;
border-radius: 20px 0 0 20px; }
.home-newsletter .single .form-control:focus {
box-shadow: none;
border-color: #243c4f; }
.home-newsletter .single .btn {
min-height: 50px;
border-radius: 0 20px 20px 0;
background: #31246e;
color: #fff;
border-color: #f0f0f0;
}
// footer section
.common-footer{
    background-color: #302470;
    /* background-image: url("/tex007.jpg"); */
    color: #fff;
    font-family: "Roboto", sans-serif;
}
footer .logo{
  padding:3px !important;
}
footer .logo:hover{
 background:none !important;
}
footer .logo img{
  border-radius:50% !important;
}
footer p{
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  opacity:.8;
}
footer p:hover{
  opacity:1;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
footer .social-icons a.btn {
    background-color: transparent;
    color: #fff;
    border-radius:50%;
    margin: 0 .2rem;
    height: 47px;
    width: 47px;
    border: 2px solid rgba(255,255,255,0.3);
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    padding:8px 2px;
}
footer a:hover{
  background:#fff !important;
  color:#4132b3 !important;
  border-color:#f0f0f0 !important;
  opacity:1;
}
footer .copyright{
  font-family: 'Quicksand', sans-serif !important;
  margin-top:45px;
  opacity:.8;
}
// post header section

.post-header-info{
  color:#f7f7f7 !important;
  font-size:1rem;
}
.post-header-info i{
  margin-left:5px;
}

// content header bredcrum
.post-header-link-bred nav .breadcrumb{
  background-color:transparent;
  color:#aaa !important;
}
.post-header-link-bred nav .breadcrumb a {
  color:#aaa !important;
}
.post-header-link-bred nav .breadcrumb a:hover {
  color:#fff !important;
}
//post header content

@media (min-width: 1000px){
  .hero-banner--sm {
      height: 400px;
  }
}
//post tags section
.post-tags{
  padding-top: 15px;
}
.post-tags a{
  margin-right: 7px;
  background: #f1eff7;
  padding: 5px 7px;
  border-radius: 10px;
}
.blog-list-card {
  transition: all 1s ease;
  margin-bottom: 20px;
}
.card-body {
  flex: 1 1 auto;
  min-height: 335px;
  padding: 1.25rem;
}
.blog_details img{
  width:100%;
  height:auto;
}

.blog_details iframe{
  width:100%;
  height:360px;
}
.list-container{
  transition: 0.3s ease-in-out;
  min-height:10px;
}
.d-load-more{
  padding:20px 0px 50px 0px;
}
.d-load-more p{
  cursor: pointer;
  background: #f8fafc;
  padding: 7px 15px;
  color: #7e7c88;
  border-radius: 15px;
  transition: 0.3s ease-in-out;
  border: 1px solid #d3d1d8;
}
.d-load-more p:hover{
  background:#31246f;
  color: #f5f5f5;
}
.loader-overlay-hide{
  display:none;
}
.loader-overlay{
  position:fixed;
  top:0px;
  left:0px;
  height:100%;
  width:100%;
  background:#000;
  z-index:1111111;
  opacity:.85;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loading-text{
  position: relative;
  top: 39px;
  left: -44px;
}
.acl-success{
    background-color: #d7f3e3;
    border-color: #c7eed8;
    top: 10px;
    background: #302470;
    color: #3cda49;
    border: 1px solid #302470;
}
.acl-error{
  background-color: #d7f3e3;
  border-color: #c7eed8;
  top: 10px;
  background: #302470;
  color:#ef0564;
  border: 1px solid #302470;
}
.cstm-err{
  color: #de8b8b;
  font-size: 13px;
  top: 8px;
  position: relative;
}
.search-wrapper{
  display: flex;
  justify-content: center;
  background: #20185a;
  top:-50px;
}
.search-wrapper input{
  outline:none;
  border: none !important;
  background: #22195b !important;
  border-bottom: 5px solid #5d46e0 !important;
  color:#ddd !important;
  text-align: center;
  opacity:.7;
}
.search-wrapper input:hover,.search-wrapper input:focus{
  outline:none !important;
  box-shadow: none !important;
  transition: 1s ease-in-out;
  border: none !important;
  background: #22195b !important;
  border-bottom: 5px solid #3015ec !important;
  opacity:1;
}
.search-wrapper .results-box{
  padding:10px;
  position: absolute;
  z-index: 99999;
  width:94%;
}
.search-blog-list-wrap{
  z-index: 9990;
}
.search-wrapper .results-box li{
  padding:7px;
  border-radius: 7px;
  transition: 0.4s ease-in-out;
}
.search-wrapper .results-box li:hover{
  background: #22195b;
}
.search-wrapper .results-box li a{
  color:#000;
  display:inline-block;
  width: 100%;
}
.search-wrapper .results-box li a:hover{
  color:#fff;
  transition: 0.6s ease-in-out;
}
.search-wrapper .results-box li:hover > a{
  color:#fff;
  transition: 0.6s ease-in-out;
}
a.bg{
  border: 1px solid #291d6b !important;
}
.sr-date{
  color:#aaa;
}
@media (min-width: 1000px){
  .search-header-cont {
    height: 300px;
  }
}
