.space{
    &-50{
        height:50px;
    }
    &-60{
        height:60px;
    }
    &-70{
        height:70px;
    }
    &-80{
        height:80px;
    }
    &-90{
        height:90px;
    }
    &-100{
        height:100px;
    }
    
}