// theme values override
.blog_right_sidebar{
  background:#fff;
}

::-webkit-input-placeholder 
{
  color: #888 !important;
  text-align: center;
}

:-ms-input-placeholder 
{ 
  color: #888 !important;
  text-align: center;
}
::placeholder 
{
  color: #888 !important;
  text-align: center;
}
.space{
    &-10{
        height:10px;
    }
    &-20{
      height:20px;
    }
    &-50{
        height:50px;
    }
    &-60{
        height:60px;
    }
    &-70{
        height:70px;
    }
    &-80{
        height:80px;
    }
    &-90{
        height:90px;
    }
    &-100{
        height:100px;
    } 
}
.theme-input{
  background: $theme-input-bg-pri;
  border-color: $theme-input-border-pri;
  color:$theme-input-color-pri;
  transition: all .5s ease-in-out;
}
.theme-btn-blue{
  background: $theme-btn-blue-bg;
  border-color: $theme-btn-blue-border;
  color:$theme-btn-blue-color;
  transition: all .5s ease-in-out;
}
.theme-btn-blue:hover{
  background: $theme-btn-blue-bg__hover;
  border-color: $theme-btn-blue-border__hover;
  color:$theme-btn-blue-color__hover;
}
.theme-btn-pink{
  background: $theme-btn-pink-bg;
  border-color: $theme-btn-pink-border;
  color:$theme-btn-pink-color;
  transition: all .5s ease-in-out;
}
.theme-btn-pink:hover{
  background: $theme-btn-pink-bg__hover;
  border-color: $theme-btn-pink-border__hover;
  color:$theme-btn-pink-color__hover;
}
.theme-btn-blue-dark{
  background: $theme-btn-blue-dark-bg;
  border-color: $theme-btn-blue-dark-border;
  color:$theme-btn-blue-dark-color;
  transition: all .5s ease-in-out;
}
.theme-btn-blue-dark:hover{
  background: $theme-btn-blue-dark-bg__hover;
  border-color: $theme-btn-blue-dark-border__hover;
  color:$theme-btn-blue-dark-color__hover;
}
.select-theme
{
  outline:none !important;
  box-shadow: none !important;
  border:1px solid #ddd;
  width:200px;
  height:38px;
}
.select-theme option 
{
  margin: 40px;
  background:#22195b;
  color:#f5f5f5;
  text-shadow: 0 1px 0 rgba(163, 62, 62, 0.4);
}
// css for blog list cards
.blog-list-card
{
  transition: all 1s ease;
}
.blog-list-card:hover
{  
  cursor:pointer;
}
.blog-list-card img
{  
  transition: all .7s ease;
}
.blog-list-card:hover .card-img
{
  transform: scale(.96);
}
.blog-list-card .card-img 
{
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
.blog-list-card .card-title 
{
  margin-bottom: 0.3rem;
}

.blog-list-card .cat 
{
  display: inline-block;
  margin-bottom: 1rem;
  font-size:.8rem;
}
.blog-list-card .cat img
{
  height:18px;
  width:18px;
  border-radius:50%;
}
.blog-list-card .fa-users 
{
  margin-left: 1rem;
}
.blog-list-card .card-footer 
{
  font-size: 0.8rem;
  display:none !important;
}
.blog-list-card .card-img-overlay
{
  height:80px;
}
// footer call to action section
.call-to-action 
{
  padding-left:0px;
}
.section.call-to-action .box 
{
  padding: 5rem 3rem 0rem 3rem;
  background-color: #302470;
  box-shadow: none;
  border-radius: 20% 75% 0% 0%;
}
.box 
{
  border-radius: 12px;
}
.box 
{
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 0 5px 5px 0 rgba(233,240,243,0.5), 0 0 0 1px #E6ECF8;
  color: #293347;
  display: block;
  padding: 1.25rem;
}
// footer section
.footer-wrapper{
  background-color: $theme-bg;
  background-image: $theme-bg-img;
}
//newsletter section
.home-newsletter .single {
max-width: 650px;
margin: 0 auto;
text-align: center;
position: relative;
z-index: 2; }
.home-newsletter .single h3 
{
  font-size: 22px;
  color: white;
  text-transform: uppercase;
  margin-bottom: 40px; 
}
.home-newsletter .single .form-control {
  height: 50px;
  border-radius: 20px 0 0 20px; 
}
.home-newsletter .single .form-control:focus 
{
  box-shadow: none;
}
.home-newsletter .single .btn 
{
  min-height: 50px;
  border-radius: 0 20px 20px 0;
}
// footer section
.common-footer
{
  color: #fff;
  font-family: "Roboto", sans-serif;
}
footer .logo
{
  padding:3px !important;
}
footer .logo:hover
{
 background:none !important;
}
footer .logo img
{
  border-radius:50% !important;
}
footer p
{
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
}
p 
{
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
footer .social-icons a.btn 
{
  background-color:$theme-social-bg;
  color: $theme-social-color;
  border-radius:50%;
  margin: 0 .2rem;
  height: 47px;
  width: 47px;
  border: 1px solid $theme-social-border;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  padding:8px 2px;
}
footer .social-icons a.btn:hover
{
  background-color:$theme-social-bg__hover;
  color: $theme-social-color__hover;
  border: 1px solid $theme-social-border__hover;
  opacity:1;
}
#social-links ul li a:hover{
  color: $primary-color;
}
footer .copyright
{
  font-family: 'Quicksand', sans-serif !important;
  margin-top:45px;
}
// post header section
.post-heading{
  color:#fbfafa;
}
.post-header-info
{
  color:#e6e0ec !important;
  font-size:1rem;
}
.post-header-info i
{
  margin-left:5px;
}
// content header bredcrum
.breadcrumb-item + .breadcrumb-item::before {
  color: #dbd7e7;
}
.post-header-link-bred nav .breadcrumb
{
  background-color:transparent;
  color:#e6e0ec !important;
}
.post-header-link-bred nav .breadcrumb a 
{
  color:#e6e0ec !important;
}
.post-header-link-bred nav .breadcrumb a:hover 
{
  color:#fff !important;
}
//post header content
@media (min-width: 1000px)
{
  .hero-banner--sm {
      height: 400px;
  }
}
//post tags section
.post-tags
{
  padding-top: 15px;
}
.post-tags a
{
  margin-right: 7px;
  background: #f1eff7;
  padding: 5px 7px;
  border-radius: 10px;
}
.blog-list-card 
{
  transition: all 1s ease;
  margin-bottom: 20px;
}
.card-body 
{
  flex: 1 1 auto;
  min-height: 335px;
  padding: 1.25rem;
}
.blog_details img
{
  width:100%;
  height:auto;
}

.blog_details iframe
{
  width:100%;
  height:360px;
}
.list-container
{
  transition: 0.3s ease-in-out;
  min-height:10px;
}
.d-load-more
{
  padding:20px 0px 50px 0px;
}
.d-load-more p
{
  cursor: pointer;
  background: #f8fafc;
  padding: 7px 15px;
  color: #7e7c88;
  border-radius: 15px;
  transition: 0.3s ease-in-out;
  border: 1px solid #d3d1d8;
}
.d-load-more p:hover
{
  background:$theme-btn-blue-dark-bg__hover;
  color: #f5f5f5;
  border:1px solid $theme-btn-blue-dark-border__hover;
}
.loader-overlay-hide
{
  display:none;
}
.loader-overlay
{
  position:fixed;
  top:0px;
  left:0px;
  height:100%;
  width:100%;
  background:#000;
  z-index:1111111;
  opacity:.85;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loading-text
{
  position: relative;
  top: 39px;
  left: -44px;
}
.acl-success
{
    background-color:inherit;
    border:none;
    top: 10px;
    color: #302470;
}
.acl-error
{
  border: none;
  top: 10px;
  background: inherit;
  color:#ef0564;
}
.cstm-err
{
  color: #de8b8b;
  font-size: 13px;
  top: 8px;
  position: relative;
}
.search-wrapper
{
  display: flex;
  justify-content: center;
  background: #d4b2da;
  top:-50px;
}
.search-wrapper input
{
  outline:none;
  border: none !important;
  background: #d4b2da !important;
  border-bottom: 5px solid #a7cddf !important;
  color:#fff !important;
  text-align: center;
  opacity:.7;
}
.search-wrapper input:hover,.search-wrapper input:focus
{
  outline:none !important;
  box-shadow: none !important;
  transition: 1s ease-in-out;
  border: none !important;
  border-bottom: 5px solid #9dd3e0 !important;
  opacity:1;
}
.search-wrapper .results-box
{
  padding:10px;
  position: absolute;
  z-index: 99999;
  width:94%;
}
.search-blog-list-wrap
{
  z-index: 9990;
}
.search-wrapper .results-box li
{
  padding:7px;
  border-radius: 7px;
  transition: 0.4s ease-in-out;
}
.search-wrapper .results-box li:hover
{
  background: $theme-color;
}
.search-wrapper .results-box li a
{
  color:#555;
  display:inline-block;
  width: 100%;
}
.search-wrapper .results-box li a:hover
{
  color:#fff;
  transition: 0.6s ease-in-out;
}
.search-wrapper .results-box li:hover > a
{
  color:#fff;
  transition: 0.6s ease-in-out;
}
a.bg
{
  border: 1px solid #291d6b !important;
}
.sr-date
{
  color:#ddd;
}
@media (min-width: 1000px)
{
  .search-header-cont {
    height: 300px;
  }
}
//sharer css
.ss-wrapper
{
  padding-top:7px;
  padding-bottom:7px;
}
.ss-wrapper ul li
{
  display:inline;
  padding:3px;
  font-size:18px;
}
.ss-wrapper ul li a:hover
{
  color:#31246e;
  transition: 0.5s ease-in-out;
}
//sharer css ends here
section.newsletter .container
{
  padding-top:100px;
}

// comment section
.comments-area li {
  border-bottom: 2px dotted #eee;
  transition: all 0.3s ease 0s;
  padding-bottom: 7px;
  margin:15px 0px 0px 0px;
}
.comments-area p{
  margin:0px;
  padding:5px 0px;
  margin-top:5px;
}
.comments-area .thumb{
  height:32px;
  width:32px;
  margin-right:10px
}
.comment-author{
  color:#47acc2;
}
p.load-cmnt{
  color:#000;
  cursor:pointer;
  opacity:.7;
}
p.load-cmnt:hover{
  opacity:1;
  transition: all 0.5s ease 0s;
}
.comment-loading{
  padding-top:10px;
}
